
body{
    background-color:#EEEBEC;
    margin-top: 3%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYjeig5BAvL5oDHpaAA0F8o8-mRZPL_25WUg&usqp=CAU");
    
}
.main-div{
    justify-content: center;
    text-align: center;
    padding-top: 3%;
    background-color: white;
    width:350px;
    margin: auto;
    border: 1px solid #D6D3D4;
    border-radius: 20px;
    height: 550px;
    box-shadow: 5px 5px 10px;
}

.music-controls{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    font-size: 25px;
   
}

.music-controls .fas{
    cursor: pointer;
}

.anime{
    animation: rotatePlayer 8s linear infinite ;
}

@keyframes rotatePlayer{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


